---
import SectionContainer from "../components/SectionContainer.astro";
import Location from "../components/icons/Location.astro";
import Phone from "../components/icons/Phone.astro";
import Mail from "../components/icons/Mail.astro";
import Clock from "../components/icons/Clock.astro";
import Facebook from "../components/icons/Facebook.astro";
import Instagram from "../components/icons/Instagram.astro";
import Whatsapp from "../components/icons/Whatsapp.astro";

const contactInfo = [
  {
    icon: Mail,
    text: "alquirap@hotmail.com",
    href: "mailto:alquirap@hotmail.com",
    target: "_blank",
    secondMail: {
      icon: Mail,
      text: "alquirap2011@gmail.com",
      href: "mailto:alquirap2011@gmail.com",
      target: "_blank",
    },
  },
  {
    icon: Phone,
    text: "292615496732",
    href: "tel:292615496732",
    target: "_self",
  },
  {
    icon: Whatsapp,
    text: "Whatsapp",
    href: "https://wa.me/5492926496732",
    target: "_blank",
  },
  {
    icon: Instagram,
    text: "@alfredo_scialabba_",
    href: "https://www.instagram.com/alfredo_scialabba_?utm_source=qr&igsh=MWc3bndha2kyczhvZQ==",
    target: "_blank",
  },
  {
    icon: Facebook,
    text: "AlquiRap SA",
    href: "https://www.facebook.com/share/19fdgZFeWv/",
    target: "_blank",
  },
  {
    icon: Location,
    text: "Av. Uriburu 10 - Coronel Su치rez",
    href: "https://www.google.com/maps/place/AlquiRap/@-37.4589996,-61.9228937,20z/data=!4m14!1m7!3m6!1s0x95eb73263cbf36f5:0xd012bb2be837b35a!2sAv.+del+Molino+1551,+B7540+Coronel+Suarez,+Provincia+de+Buenos+Aires,+Argentina!3b1!8m2!3d-37.461934!4d-61.9385939!3m5!1s0x95eb72d0d4c965c5:0x7456521ffa5b536!8m2!3d-37.4587882!4d-61.9225637!16s%2Fg%2F11c60cmcwp?hl=es-419&entry=ttu&g_ep=EgoyMDI1MTAwNi4wIKXMDSoASAFQAw%3D%3D",
    target: "_blank",
  },
];
---

<SectionContainer id="contact" className="bg-blue-900 py-16">
  <h2 class="text-3xl font-bold text-center mb-10">Contacto y Ubicaci칩n</h2>
  <div class="max-w-6xl mx-auto grid lg:grid-cols-2 gap-10 sm:px-6">
    <div class="flex flex-col gap-2">
      {
        contactInfo.map((item) => (
          <div class="flex flex-col sm:flex-row sm:items-center gap-2">
            <a
              href={item.href}
              aria-label={item.text}
              target={item.target}
              rel="noopener noreferrer nofollow"
              class="flex items-center gap-2 hover:underline"
            >
              <item.icon />
              {item.text}
            </a>

            {item.secondMail && <span class="hidden sm:block">//</span>}
            {item.secondMail && (
              <a
                href={item.secondMail.href}
                aria-label={item.secondMail.text}
                target={item.secondMail.target}
                rel="noopener noreferrer nofollow"
                class="flex items-center gap-2 hover:underline"
              >
                <span class="block sm:hidden">
                  <item.secondMail.icon />
                </span>
                {item.secondMail.text}
              </a>
            )}
          </div>
        ))
      }
      <hr />
      <p class="text-pretty">
        <b class="flex items-center gap-1"><Clock />Horario de atenci칩n:</b
        >Lunes a viernes de 8:00hs a 12:00hs y de 15:00hs a 19:00hs. <br /> S치bados
        de 8:00hs a 12:00hs.
      </p>
    </div>
    <iframe
      class="w-full h-64 rounded-lg shadow-lg"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.892708775002!2d-61.9228937!3d-37.4589996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95eb72d0d4c965c5%3A0x7456521ffa5b536!2sAlquiRap!5e0!3m2!1ses-419!2sar!4v1728449987000!5m2!1ses-419!2sar"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</SectionContainer>
