---
import "swiper/element/bundle";
import "swiper/swiper-bundle.css";
import "../styles/global.css";

const title = "AlquiRap";
const description =
  "Alquirap ofrece alquiler de herramientas y maquinaria en Coronel Suárez. Andamios, hormigoneras, martillos demoledores y más, con opciones por día, semana o mes. Servicio rápido y confiable.";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>AlquiRap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="keywords"
      content='alquiler de herramientas, alquiler maquinaria, alquiler herramientas Coronel Suárez, Alquirap, andamios tubulares, hormigonera, martillo demoledor Bosch, rotopercutor Bosch, cortacerco, amoladora 7", generador 7.5 kva, ingletadora, atornillador, hidrolavadora, termofusora, motosierra, carretilla, escalera, alquiler por día, alquiler por semana, alquiler por mes, alquiler herramientas profesionales.'
    />

    <meta name="description" content={description} />
    <meta name="author" content="Alfredo J. Scialabba" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="bingbot" content="index, follow" />
    <meta name="yandexbot" content="index, follow" />

    <meta property="og:url" content="https://alquirap.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://alquirap.com/favicon.svg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="alquirap.com" />
    <meta property="twitter:url" content="https://alquirap.com/" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://alquirap.com/favicon.svg" />

    <meta name="theme-color" content="#1447e6" />
    <link rel="canonical" href="https://alquirap.com/" />
  </head>
  <body>
    <div class="fixed -z-10 min-h-screen w-full bg-slate-950">
      <div
        class="absolute -z-10 bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
      >
      </div>
    </div>
    <slot />
  </body>
</html>
